modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "nohup python3 main.py & npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg", "ffmpeg-full", "imagemagickBig"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 8000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
